/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  font-style: italic;
  text-align: center;
}
/* SETTINGS */
body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-optical-sizing: auto;
  font-variation-settings: 'wdth' 100, 'YTLC' 500;
}
/* NAV */
.navbar {
  position: fixed;
  inline-size: 100%;
  block-size: 70px;
  background: linear-gradient(to bottom, #333, #626262);
  z-index: 10;
}
.navbar__icon {
  position: absolute;
  top: 10px;
  right: 15px;
  inline-size: 50px;
  z-index: 25;
  display: none;
  cursor: pointer;
}
.navbar__menu {
  background: linear-gradient(to bottom, #333, #626262);
  block-size: 100%;
  inline-size: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  z-index: 20;
}
.navbar__link {
  display: flex;
  align-items: center;
}
.navbar__link a {
  font-size: 1.375rem;
  color: #f1f1f1;
  text-decoration: none;
  margin-inline: 20px;
  text-transform: uppercase;
}
.navbar__link a::after {
  content: '';
  display: block;
  margin: 0 auto;
  inline-size: 0%;
  block-size: 2px;
  background-color: #f1f1f1;
  transition: inline-size 0.2s ease-in-out;
}
.navbar__link a:hover::after {
  inline-size: 100%;
}
/* HEADER */
.home {
  inline-size: 100%;
  block-size: 100vh;
  min-block-size: 970px;
  background-image: url('../../assets/images/accueil-pic-lum-down.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px dotted#777;
  padding-block-start: 1px;
}
.home__torii {
  border-radius: 50%;
  inline-size: 180px;
  display: block;
  margin-block-start: 179px;
  margin-inline: auto;
}
.home__title {
  text-align: center;
  font-size: 6.25rem;
  text-shadow: 0 0 10px #000;
  color: #f1f1f1;
  margin-block-start: 10px;
  font-family: 'Merienda', cursive;
  font-optical-sizing: auto;
}
.home__subtitle {
  text-align: center;
  font-size: 1.563rem;
  font-weight: 700;
  color: #f1f1f1;
  margin-block: 5px;
  text-shadow: 0 0 10px #000;
}
.home__button {
  border-radius: 9999px;
  background-color: #d91e17;
  color: #f1f1f1;
  text-align: center;
  font-size: 1.375rem;
  display: block;
  inline-size: 200px;
  block-size: 70px;
  line-height: 70px;
  margin-block-start: 30px;
  margin-inline: auto;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.home__button:hover {
  background-color: #ab1712;
}
/* SECTION - #todo */
.todo {
  display: grid;
  grid-template: 200px repeat(3, auto) / 1fr 600px 1fr;
  background: #f1f1f1;
}
.todo h2 {
  grid-area: 1 / 1 / 2 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-weight: 700;
  font-size: 3.125rem;
  text-transform: uppercase;
  padding-block-end: 20px;
}
.bloc-1,
.img-grid-1 {
  grid-area: 2 / 2 / 3 / 3;
}
.todo__bloc-right,
.img-grid-2 {
  grid-area: 3 / 2 / 4 / 3;
}
.bloc-3,
.img-grid-3 {
  grid-area: 4 / 2 / 5 / 3;
}
.todo__bloc {
  background: #333;
  color: #f1f1f1;
  position: relative;
  border-radius: 2px;
  block-size: 750px;
  margin-block-end: 250px;
}
.todo__img-grid {
  inline-size: 500px;
  block-size: 700px;
  object-fit: cover;
  position: relative;
}
.img-grid-1,
.img-grid-3 {
  top: 130px;
  left: 20px;
}
.todo__bloc-left {
  left: -300px;
}
.todo__bloc-left-txt {
  inline-size: 50%;
  block-size: 100%;
}
.todo__bloc-left-txt h3 {
  white-space: nowrap;
  font-size: 2.1875rem;
  margin-inline: 15px;
  margin-block: 30px;
}
.todo__bloc-left-txt p {
  line-height: 40px;
  padding-inline: 15px;
  padding-block: 15px;
  letter-spacing: 0.5px;
}
.todo__bloc button {
  border-radius: 9999px;
  outline: none;
  border: none;
  background: #d91e17;
  color: #f1f1f1;
  padding-inline: 35px;
  padding-block: 20px;
  font-size: 1.25rem;
  margin-inline: auto;
  margin-block: 35px;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease-in-out;
}
.todo__bloc button:hover {
  background: #ab1712;
}
.todo__bloc-right {
  right: -300px;
}
.img-grid-2 {
  top: 130px;
  left: 100px;
}
.todo__bloc-right-txt {
  position: absolute;
  right: 0;
  inline-size: 50%;
  block-size: 100%;
}
.todo__bloc-right-txt h3 {
  position: relative;
  left: -70px;
  white-space: nowrap;
  font-size: 2.1875rem;
  margin-inline: 15px;
  margin-block: 30px;
}
.todo__bloc-right-txt p {
  line-height: 40px;
  letter-spacing: 0.5px;
  padding-block: 15px;
  padding-inline: 15px;
}
.todo__bloc-right-txt button {
  margin-inline: auto;
  margin-block: 35px;
}
/* SECTION - Parallax */
.parallax {
  inline-size: 100%;
  block-size: 300px;
  background: url('../../assets/images/parallax-large-flou.webp');
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.parallax p {
  font-size: 4.0625rem;
  color: #f1f1f1;
  text-shadow: 0 0 10px #000;
}
.parallax span {
  display: block;
  color: #f1f1f1;
  font-size: 1.5625rem;
}
/* SECTION - #Tarifs */
.tarifs {
  padding-bottom: 150px;
}
.tarifs h2 {
  text-align: center;
  color: #333;
  font-weight: 700;
  font-size: 3.125rem;
  margin: 120px 0 20px;
  padding: 0 30px;
}
.tarifs hr {
  inline-size: 200px;
  margin: 20px auto 100px;
}
.tarifs__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  inline-size: 100%;
}
.tarifs__card {
  inline-size: 350px;
  block-size: auto;
  border-radius: 5px;
  margin: 15px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
  position: relative;
}
.tarifs__card:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
}
.tarifs__card h3 {
  text-align: center;
  color: #333;
  padding: 25px 30px;
  font-size: 2.1875rem;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  background: #ffafbf;
}
.tarifs__card span {
  display: block;
  text-align: center;
  padding: 15px;
  font-size: 1.5625rem;
  font-weight: 700;
}
.tarifs__card:nth-child(2) h3 {
  background: #ff5073;
}
.tarifs__card:nth-child(3) h3 {
  background: #ff0033;
}
.tarifs__card p {
  font-size: 1.125rem;
  padding: 20px 10px;
  border-top: 1px solid #c2c5c2;
}
.tarifs__card p:last-of-type {
  border-bottom: 1px solid #c2c5c2;
}
.tarifs__card p:nth-child(odd) {
  background: rgba(195, 195, 195, 0.219);
}
.tarifs__card a {
  display: block;
  text-decoration: none;
  border: 1px solid #333;
  text-align: center;
  inline-size: 200px;
  block-size: 50px;
  line-height: 50px;
  border-radius: 9999px;
  color: #333;
  font-size: 1.125rem;
  margin: 20px auto;
  transition: all 0.2s ease-in-out;
}
.tarifs__card a:hover {
  background: #333;
  color: #f1f1f1;
}
/* SECTION - #contact */
.contact {
  padding-bottom: 100px;
}
.contact h2 {
  text-align: center;
  font-size: 3.125rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 70px 0 0 0;
  text-transform: uppercase;
}
.contact h2 strong {
  font-weight: 700;
}
.contact__form {
  margin: 0 auto;
  inline-size: 70%;
}
.contact__form-group {
  position: relative;
  margin-bottom: 45px;
}
.contact__form-group label {
  color: #333;
  font-size: 1.25rem;
}
.contact__form-group input {
  display: block;
  inline-size: 100%;
  padding: 10px 0;
  border: none;
  outline: none;
  background: none;
  border-bottom: 3px solid #aaa;
  color: #666;
  font-size: 1rem;
}
.contact__form-group textarea {
  inline-size: 100%;
  block-size: 200px;
  border: 3px solid #aaa;
  resize: none;
  border-radius: 3px;
  padding: 5px;
  outline: none;
  font-size: 1rem;
  color: #333;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #f1f1f1;
}
.contact__form-group:nth-child(4) {
  margin-bottom: 25px;
}
.contact__form-group .contact__form-btn {
  display: block;
  inline-size: auto;
  margin: 0 auto;
  padding: 15px 60px;
  border: 3px solid rgb(144, 144, 144);
  border-radius: 9999px;
  background-image: linear-gradient(
    to right,
    transparent 50%,
    rgb(65, 65, 65) 50%,
    rgb(134, 134, 134)
  );
  background-size: 200%;
  color: #333;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.contact__form-group .contact__form-btn:hover {
  background-position: 100%;
  border: 3px solid #fff;
  color: #fff;
}
/* FOOTER */
.footer {
  inline-size: 100%;
  block-size: 70px;
  background: linear-gradient(to top, #333, #626262);
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* MEDIA QUERIES */
@media (max-width: 1200px) {
  /* SECTION - #todo */
  .todo {
    grid-template: 200px repeat(6, auto) 100px / 1fr 600px 1fr;
  }
  .todo h2 {
    font-size: 3.125rem;
    padding-block-end: 0;
  }
  .bloc-1 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .img-grid-1 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .todo__bloc-right {
    grid-area: 4 / 2 / 5 / 3;
  }
  .img-grid-2 {
    grid-area: 5 / 2 / 6 / 3;
  }
  .bloc-3 {
    grid-area: 6 / 2 / 7 / 3;
  }
  .img-grid-3 {
    grid-area: 7 / 2 / 8 / 3;
  }
  .todo__bloc {
    block-size: 100%;
    margin-block-end: 0;
  }
  .todo__img-grid {
    position: static;
    inline-size: 600px;
    block-size: 750px;
  }
  .img-grid-1,
  .img-grid-3 {
    top: 0px;
    left: 0px;
  }
  .img-grid-2 {
    top: 0px;
    left: 0px;
  }
  .todo__bloc-left {
    left: 0;
  }
  .todo__bloc-left-txt {
    inline-size: 100%;
    block-size: auto;
  }
  .todo__bloc-right {
    right: 0;
  }
  .todo__bloc-left-txt h3,
  .todo__bloc-right-txt h3 {
    text-align: center;
  }
  .todo__bloc-left-txt p,
  .todo__bloc-right-txt p {
    padding-block: 15px;
    padding-inline: 15px;
    line-height: 1.8;
    font-size: 1.25rem;
  }
  .todo__bloc button {
    padding-inline: 30px;
    padding-block: 15px;
    font-size: 1.25rem;
    margin-block-end: 30px;
  }
  .todo__bloc-right-txt {
    position: static;
    inline-size: 100%;
    block-size: auto;
  }
  /* SECTION - #contact */
  .contact h2 {
    padding: 50px 0 0 0;
  }
  .contact__form {
    padding-left: 0;
  }
}
@media (max-width: 900px) {
  /* HEADER */
  .home {
    block-size: 650px;
    min-height: auto;
    background-position: right;
  }
  .home__torii {
    margin-block-start: 120px;
  }
  .home__title {
    font-size: 3.75rem;
  }
  .home__subtitle {
    font-size: 1.4375rem;
  }
  .home__button {
    inline-size: 150px;
    block-size: 50px;
    line-height: 50px;
    font-size: 1.125rem;
    margin-block-start: 15px;
  }
  /* SECTION - #tarifs */
  .tarifs h2 {
    font-size: 2.1875rem;
  }
  .tarifs hr {
    margin: 20px auto 20px;
  }
}
@media (max-width: 700px) {
  /* NAV */
  .navbar__icon {
    display: block;
  }
  .navbar__menu {
    padding-block-start: 70px;
    flex-direction: column;
    block-size: auto;
    position: relative;
    display: none;
  }
  .navbar__menu.active {
    display: block;
  }
  .navbar__link {
    block-size: 70px;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  /* SECTION - #todo */
  .todo {
    grid-template: 150px repeat(6, auto) 100px / 100%;
  }
  .todo h2 {
    font-size: 1.875rem;
  }
  .todo__bloc,
  .todo__img-grid {
    grid-area: auto;
  }
  .todo__img-grid {
    inline-size: 100%;
    block-size: 600px;
  }
  .todo__bloc-left-txt h3,
  .todo__bloc-right-txt h3 {
    font-size: 1.5625rem;
  }
}
@media (max-width: 425px) {
  /* NAV */
  .navbar__icon {
    top: 15px;
    inline-size: 40px;
  }
  /* HEADER */
  .home {
    block-size: 550px;
  }
  .home__torii {
    margin-block-start: 110px;
    inline-size: 150px;
  }
  .home__title {
    font-size: 2.1875rem;
  }
  .home__subtitle {
    font-size: 1.25rem;
  }
  .home__button {
    inline-size: 130px;
    block-size: 45px;
    line-height: 45px;
    font-size: 1rem;
  }
  /* SECTION - Parallax */
  .parallax p {
    font-size: 3.4375rem;
  }
  /* SECTION - #tarifs */
  .tarifs h2 {
    font-size: 1.875rem;
    margin: 50px 0 50px;
  }
}
